
<div id="question-mcq">
    <h2>Question</h2>
    <p>{{ question.question }}</p>

    {% if question.image_path %}
        {% load static %}
        <img src="{% static question.image_path %}" alt="My image">
    {% endif %}
    <div id="question-section">
        <!-- Dynamic content will be inserted here -->
    </div>

<div>
            <!-- Texte collapsible -->
            <div id="collapseText" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
            </div>
            <!-- Texte aperçu (visible par défaut) -->
            <div id="previewText" class="text-preview">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod, libero et pretium dapibus, dui risus tristique lacus, a blandit nisi justo in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis bibendum augue ut erat fermentum, sit amet fermentum quam fermentum. Nullam consectetur orci ac lacinia varius.

            </div>
            <!-- Bouton pour basculer entre l'aperçu et le texte complet -->
            <button class="btn btn-link mt-2 p-0" id="toggleButton">
                Lire plus
            </button>
        </div>


    <form action="{% url 'index' %}" method="get">
        {% csrf_token %}
        {% for topic in topic_list %}
            <input type="hidden" name="topic_list" value="{{ topic }}">
        {% endfor %}
        <input type="submit" value="Nouvelle question">
    </form>

</div>

<style>


    #question-mcq .correct::after {
        content: '✔';
        color: green;
        position: absolute;
        right: 10px;
        top: 50%;
    }
    #question-mcq .wrong::after {
        content: '✖';
        color: red;
        position: absolute;
        right: 10px;
        top: 50%;
    }

    #question-mcq .option {
        margin: 10px 0;
    }

    #question-mcq .option input {
        display: none;
    }

    #question-mcq .collapse-button  {
        display: none;
    }
    #question-mcq .option label {
        background-color: #ccc;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        transition: background-color 0.3s;
        position: relative;
    }
    #question-mcq .option input:checked + label {
        background-color: #4CAF50;
    }
    #question-mcq .option input:checked + label:hover {
        background-color: #22c328;
    }
    #question-mcq button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #question-mcq button:hover {
        background-color: #22c328;
    }


        /* Limite l'aperçu initial à deux lignes */
        .text-preview {
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Limite à 2 lignes */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }


</style>

    <script>
        // Ajout de JavaScript pour basculer entre les états
        const toggleButton = document.getElementById("toggleButton");
        const previewText = document.getElementById("previewText");
        const collapseText = document.getElementById("collapseText");

        toggleButton.addEventListener("click", () => {
            // Si le texte complet est visible, le cacher
            if (collapseText.classList.contains("show")) {
                collapseText.classList.remove("show");
                previewText.style.display = "-webkit-box"; // Réaffiche l'aperçu
                toggleButton.innerText = "Lire plus";
            } else {
                collapseText.classList.add("show");
                previewText.style.display = "none"; // Masque l'aperçu
                toggleButton.innerText = "Lire moins";
            }
        });
    </script>

<script data-question="{{ json_question }}">
    const data = document.currentScript.dataset;
    const questionData = JSON.parse(data.question);
    const questionSection = document.getElementById('question-section');

    function renderQuestion() {
        const questionHTML = `
            <form id="question-form">
                ${questionData.answers.map((option, index) => {
                    const descriptionText = (option.explanation && option.explanation.trim() !== '') ? option.explanation : '---';
                    return `
                    <div class="option container text-center">
                      <div class="row">
                        <div class="col-11">
                          <input type="checkbox" id="option-${index}" name="option" value="${index}" >
                          <label for="option-${index}">${option.text}</label>
                        </div>
                        <div class="col-1">
                          <button type="button" class="collapse-button" data-bs-toggle="collapse" data-bs-target="#description-${index}">▾</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-11">
                          <div id="description-${index}" class="collapse">${descriptionText}</div>
                        </div>
                      </div>
                    </div>
                `
                }).join('')}
                <button type="button" onclick="validateAnswers()">Valider</button>
            </form>
            <div id="message"></div>
        `;
        questionSection.innerHTML = questionHTML;
    }

    function dislpayCollapseButtons() {
        const collapseButtons = document.querySelectorAll('.collapse-button');
        collapseButtons.forEach(button => {
            button.style.display = 'inline-block';
        });
    }
    function validateAnswers() {
        const form = document.getElementById('question-form');
        const selectedOptions = Array.from(form.elements['option'])
            .filter(input => input.checked)
            .map(input => parseInt(input.value));

        let isCorrect = true;
        questionData.answers.forEach((option, index) => {
            const label = form.querySelector(`label[for="option-${index}"]`);
            if (option.is_true) {
                label.classList.add('correct');
                if (!selectedOptions.includes(index)) {
                    isCorrect = false;
                }
            } else {
                label.classList.add('wrong');
                if (selectedOptions.includes(index)) {
                    isCorrect = false;
                }
                
            }
        });

        const message = document.getElementById('message');
        message.textContent = isCorrect ? 'Félicitations! Vous avez trouvé les bonnes réponses.' : 'Désolé, veuillez réessayer.';
        dislpayCollapseButtons();
    }

    renderQuestion();
</script>