resources/
notebooks/
**/db.sqlite3
.idea/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.egg-info/
*.egg

.venv
*.env

# Cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Dossiers médias générés par vos utilisateurs
media/

# Fichiers statiques collectés pour la production
staticfiles/
/src/django_site/settings/production.py
/src/django_site/settings/development.py
