<div id="question-topic">
  <form action="{% url 'index' %}" method="get">
    {% csrf_token %}
    <div class="multiselect">
      <h2>Choisis ton thème</h2>
      {{ topic_form }}
    </div>
  </form>


</div>

<style>

    #question-topic .topic-button {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

    #question-topic .topic-button input {
        display: none;
    }

    #question-topic .topic-button label {
        background-color: #ccc;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        transition: background-color 0.3s;
        position: relative;
    }

    #question-topic .topic-button input:checked + label {
        background-color: #4CAF50;
    }

</style>