<div id="question-topic">
  <form action="{% url 'index' %}" method="get">
    {% csrf_token %}
    <div class="multiselect">
      <h2>Choisis ton thème</h2>
      <div class="option container text-center">
        {% for option in topic_form %}
          <div class="row">
            <div class="col-10">
              <div class="topic-button">
                <input type="radio" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.label_id }}" {% if option.checked %}checked{% endif %}>
                <label for="{{ option.label_id }}">{{ option.label }} </label>
              </div>
            </div>
            {%  if option.has_sub_themes %}
              <div class="col-2">
                  <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="identifier" value="{{ radio.data.value }}">
                    <input type="submit" value="▾" class="mx-auto d-block">
                  </form>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </form>


</div>

<style>

    #question-topic .topic-button {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

    #question-topic .topic-button input {
        display: none;
    }

    #question-topic .topic-button label {
        background-color: #ccc;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        transition: background-color 0.3s;
        position: relative;
    }

    #question-topic .topic-button input:checked + label {
        background-color: #4CAF50;
    }

</style>